@font-face {
  font-family: 'BrezelGrotesk-Bold';
  src: url('BrezelGrotesk-Bold.eot');
  src: url('BrezelGrotesk-Bold.woff2') format('woff2'),
       url('BrezelGrotesk-Bold.woff') format('woff'),
       url('BrezelGrotesk-Bold.ttf') format('truetype'),
       url('BrezelGrotesk-Bold.svg#BrezelGrotesk-Bold') format('svg'),
       url('BrezelGrotesk-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Rosart';
    src: url('Rosart-Bold.woff2') format('woff2'),
        url('Rosart-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-BoldItalic.woff2') format('woff2'),
        url('Rosart-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-Medium.woff2') format('woff2'),
        url('Rosart-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-SemiBoldItalic.woff2') format('woff2'),
        url('Rosart-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-SemiBold.woff2') format('woff2'),
        url('Rosart-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-Regular.woff2') format('woff2'),
        url('Rosart-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-RegularItalic.woff2') format('woff2'),
        url('Rosart-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rosart';
    src: url('Rosart-MediumItalic.woff2') format('woff2'),
        url('Rosart-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Btp';
    src: url('Btp-Rotated.woff2') format('woff2'),
        url('Btp-Rotated.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Btp';
    src: url('Btp-Light.woff2') format('woff2'),
        url('Btp-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Btp';
    src: url('Btp-Normal.woff2') format('woff2'),
        url('Btp-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

