body,html{
  background-color: #f6f6f6;
  background-color: black;

  font-family: 'Rosart-Regular';
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 60rem){
.tab #throbber {
    position: absolute;
    top: .2em;
    left: .35em;
    font-size: 1.3em;
    display: block;
}
}

#throbber {
  font-family: 'Btp', monospace;
  font-weight: 300;
  display: inline-block; 
font-size: 34px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: translateY(-0.33em);
            transform: translateY(-0.33em); }
  50% {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounce {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: translateY(-0.33em);
            transform: translateY(-0.33em); }
  50% {
    -webkit-transform: none;
            transform: none; } }
  #throbber span {
    display: inline-block; }
  #throbber span:nth-child(1) {
    -webkit-animation: bounce 1s linear infinite;
            animation: bounce 1s linear infinite; }
  #throbber span:nth-child(2) {
    -webkit-animation: bounce 1s .25s linear infinite;
            animation: bounce 1s .25s linear infinite; }
  #throbber span:nth-child(3) {
    -webkit-animation: bounce 1s .5s linear infinite;
            animation: bounce 1s .5s linear infinite; }

#begin{
  margin-top: 50px;
  cursor:pointer;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  max-height: 350px;
  width: 300px;
  border: 1px solid;
}
#parse{
  display: block;
  cursor:pointer;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  max-height: 350px;
  width: 300px;
  border: 1px solid;
  
}
#intro{
  cursor:pointer;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0px;
  display: block;
  
}
.centeralign > #upload{
  
    float: left;
    border: 1px solid;
    padding: 10px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}
#upload{
  font-family: 'Btp', monospace;
    font-weight: 300;
  cursor: pointer;
  font-size: 23px;
    font-weight: 300;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  text-align: center;

}
p#upload:active{
  color: #8336DD;
}
a{
  text-decoration: none;
  color: #8336DD;
  color: black;
  cursor: pointer;
}
em{
  text-decoration: none;
  color: #8336DD;
  color: white;
  cursor: pointer;
  font-style: normal;

}
em:hover{
  color: #5FC996;
  color: white ;

}

span{
  color: #5FC996;
  color: white;

  cursor: pointer;

}
a:hover{
  text-decoration: none;
  color: #8336DD;
  color: white;
}

span:hover{
  color: #5FC996;
  color: white ;
}


mark{
  background-color: transparent;
  color: white ;


}
mark#she123 {
   color: #5FC996;
  cursor: pointer;
}
#she123{
  color: black;
}
.female{
  color: #5FC996;

}
.male{
  color: #8336DD;

}
mark#he123 {
   color: #8336DD;
   cursor: pointer;

}
#he123{
  color: black;

}
.box{

  padding:1%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*background: #5FC996; */
}
a{

  font-family: 'Rosart-Regular';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}
.italic{
  padding: 10px;
  font-style: italic;
}
.italic > a{
  /*background: linear-gradient(to top, #5FC996 0, rgba(154, 253, 163, 0) 50px);
  */
  color:#5FC996;
  text-decoration: none;

}
.profwiki{
  width:100%;
  padding-top:1%;
  padding-bottom:1%;
  float: left;

}
.profwiki > img{
  width:8%;
  margin: 1%;
  float: left;

}
.allprof{
  min-height: 600px;
  padding-bottom: 1%;
}
.testi{

  font-family: 'Rosart-Regular';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  padding: 1%;
  padding-right: 15%;
}
.testiitalico{

  font-family: 'Rosart-Regular';
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  text-align: left;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  padding-bottom: 1%;
  padding-right: 15%;
}
p{
  font-family: 'Rosart-Regular';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}

h3{
  font-family: 'Btp', monospace;
  font-weight: 300;

  font-style: normal;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 32px;
  letter-spacing: -1px;

}

.before{
  display: block;
}
.after{
  display: none;
  min-width: 100%;
}

::selection {
  background: #f5f4f5; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f5f4f5; /* Gecko Browsers */
}
.container{
  width: 100%;
  display: flex;
  margin-bottom: 300px;
  padding-top: 100px;
}
.data-container{
  width: 100%;
  padding-top: 100px;
}
.secondpart{
  display: none;
}
.col1{
  float: left;
  display: flex;

  flex:3;
  flex-wrap: wrap;

  padding: 1%;
  min-height: 600px;
}

#input > p {
  font-size: 30px;
  line-height: 36px;

}
.centeralign{
  position:relative;

  width: 100%;
  height: 100%;
  
}

.datatext{
  float: left;
  display: flex;
display: block;
  flex:2;
  padding: 1%;
  width: 100%;
  color: white;
  padding-bottom: 50px;
  padding-top: 100px;
}
.datatext > h2{
  width: 60%;
}


.col2{
  float: left;
  display: flex;
display: block;
  flex:2;
  padding: 1%;
  min-height: 600px;
}
.col3{
  margin-left: 10px;
  float: left;
  display: flex;

  flex:0.7;
  padding: 1%;
  display: none;

  height: 100%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white
}
.col4{
  float: left;
  display: flex;

  flex:1;
  padding: 1%;
  min-height: 600px;
  display: none;
  height: 100%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white

}
.col5{
  
  float: left;
  display: flex;

  flex:1;
  padding: 1%;
  min-height: 600px;
  display: none;
  height: 100%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white

}
.col6{
  

  flex:1;
  padding: 1%;
  min-height: 600px;
  display: none;
}
.col6>p{
  font-family: 'Btp', monospace;
  font-weight: 300;
  font-size: 32px;
  float: left;
  border: 1px solid;
  padding: 10px;
  padding-left: 0;
  float: left;
  white-space: flex;

  
}
.col6>p>a{
  font-family: 'Btp', monospace;
  font-weight: 300;
  font-size: 32px;
  float: left;
  border: 1px solid;
  padding: 10px;
  float: left;
  white-space: flex;
  cursor: pointer;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
text-align: center;
}
.texteditor{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  padding: 5px;
}

#wrapper{
  text-align: center;
}
#form{
  display: inline-block;

}
.menucontainer > #info{
  float: right;
  padding-right: 1%;
  cursor: pointer;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;

}
.menucontainer > #menu-data{
  color: black;
  float: right;
  padding-right: 1%;
  cursor: pointer;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  

}
#menu-data > a:active{
  color: #8336DD;
}
.menucontainer > p{
  z-index: 400;

  font-family: 'Btp', monospace;
  font-weight: 300;
  font-size: 32px;
  float: left;
  padding-left: 1%;
  color: white;
  margin-top: 20px;
}
.menucontainer > a{
  color: white;
}
.menucontainer > p:active{
  text-decoration: none;
  color: #8336DD;
}
.menucontainer > p > a:active{
  text-decoration: none;
  color: #8336DD;
}
.menucontainer > p > a{
  
  z-index: 400;
  color: white;

  font-family: 'Btp', monospace;
  font-weight: 300;

  font-size: 23px;
  float: left;
}

.info_title > h1{
  font-size: 24px;
  font-weight: 300;
}

.content{

  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1%;
color: white
}
.menucontainer{
  background-color: black;
  
  height: 60px;
  border-bottom: solid 1px white;
  float: left;
  width: 100%;
  position: fixed;
}
.menushadow{
  background: linear-gradient(to bottom, black 0, rgba(154, 202, 255, 0) 500px);

}
.explain{
  min-height: 50px;
  width: 100%;
}

.space{
  background-color: white;
  float: left;
  width: 100%;
  display: flex;
}

.info{
  font-family: 'Btp', monospace;
  font-weight: 300;
  display: fixed;
  top:0;
  left:0;
}

.info_title{
  font-family: 'Btp', monospace;
  width: 91%;
  float: left;
  font-weight: 300;

  font-size: 14px;
  letter-spacing: 1px;

}
#middle{
  width: 50%;
}

.left{
  flex: 0.5;
  /*background: linear-gradient(to bottom, red 0, rgba(154, 202, 255, 0) 500px);
  */
  float: left;
  padding: 1%;
  padding-top: 3%;

}
.right{
  display: flex;
  flex:1;
  float: left;
  padding: 1%;
  min-height: 600px;

}
.highlight{
  flex: 1;
  float: left;
  padding: 1.5%;
  height: 100%;
}
h2{
  font-family: 'Btp', monospace;
  color:white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

h3{
  font-family: 'Btp', monospace;
  font-weight: 300;

  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}


.values{
  flex: 1;
  float: left;
  height: 98%;
}
.half{
  width: 45%;
  float: left;
}
.half1{
  width: 45%;
  float: left;
  background-color: #f6f6f6;

}
.half > p{
  background-color: white;

}
.title{
  font-size: 40px;
  font-weight: 100;

}
.text{
  text-align:left;
  font-size: 30px;
  line-height: 36px;

}
#test2{
  max-width: 100%;

}

#output{
  display: none;
  font-size: 30px;
  line-height: 36px;

  user-select: text;
}
#output > p{
  color: #444;
  -webkit-font-smoothing: antialiased;
}
.none{
  display: none;

}
form{
  width: 100px;
  float: left;
}
#input {
  display: inline-block;
  overflow: hidden;
  width: 96%;
  /* height: 600px; */
  /* max-height: 600px; */
  padding-bottom: 20px;
color:white;

}
form  > button{
  color: white;
}
.content {

  width: 50%;
  float: left;

}
.introtext{
  min-height: 100px;
    padding: 1%;
    float: left;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -1px;
    color: white;
    border-bottom: 1px solid white;
    display: block;
    margin-top: 200px;
        padding-bottom: 500px;
}
.introtext > p{
  font-family: 'Btp', monospace;
  font-weight: 300;
  max-width: 60%;
  margin: 1%;
  margin-left: 0;
}
button{

  background: none;
  font-family: 'Btp', monospace;
  font-weight: 300;
  border: none;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;

}
button:focus{
  outline: 0px solid transparent;
  color: #8336DD;
}
.fulltext{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

  margin: 1%;
  width: 80%;
  float: left;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;

}
.infotext{
  padding: 1%;
  margin: 1%;
  width: 96%;
  float: left;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;

color: white;
}
.json-database{
  margin:1%;
  padding: 1%;
  width: 10%;
  height:600px;
  float: left;
border: 1px solid white;

  font-size: 0.8em;
    line-height: 1.2em;
}


.json-database.cluster-None{

  background-color:white;
  text-decoration: none;

}
.cluster-None >a {
  color:black;
}
.cluster-None:hover{
  box-shadow: 0 10px 35px white;
}
.fulltext.cluster-None{
  color: white;
  box-shadow:none;

}
.cluster-0 > a{
  color: #4F89FD;
}
.cluster-0:hover{
  box-shadow: 0 10px 35px #4F89FD;
}
.fulltext.cluster-0{
  color: #4F89FD;
  box-shadow:none;

}
.cluster-1 >a{
 color: #5FC996;
}
.cluster-1:hover{
  box-shadow: 0 10px 35px #5FC996;
}
.fulltext.cluster-1{
  color: #5FC996;
  box-shadow:none;

}
.cluster-2  >a{
  color: #8336DD;
}
.cluster-2:hover{
  box-shadow: 0 10px 35px #8336DD;

}
.fulltext.cluster-2{
  color: #8336DD;
  box-shadow:none;

}
.cluster-3 >a{
  color: #5FC996;
}
.cluster-3:hover{
  box-shadow: 0 10px 35px #5FC996;
}
.fulltext.cluster-3{
  color: #5FC996;
  box-shadow:none;

}
.cluster-4 >a{
  color: #CCCCCC;
}
.cluster-4:hover{
  box-shadow: 0 10px 35px #CCCCCC;
}
.fulltext.cluster-4{
  color: #CCCCCC;
  box-shadow:none;

}
.cluster-5 >a{
  color: #E5D18E;
}

.cluster-5:hover{
  box-shadow: 0 10px 35px #E5D18E;
}
.fulltext.cluster-5{
  color: #E5D18E;
  box-shadow:none;

}
.cluster-6 >a{
  color: #EF6AA2;
}
.cluster-6:hover{
  box-shadow: 0 10px 35px #EF6AA2;
}
.fulltext.cluster-6{
  color: #EF6AA2;
  box-shadow:none;

}
.cluster-7 >a {
  color: blue;
}

[contenteditable]{
  /* box-shadow: inset 0 0px 15px #444444; */
  background-color: black;
  padding: 5px;
  min-width: 850px;

}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
