<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are from Earth</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="/static/index.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="/static/index.css" />
  <link rel="stylesheet" href="/static/font/font.css" />


  <script type="text/javascript">
    function htmlToText(elem) {
      var outText = "";
      for (var x = 0; x < elem.childNodes.length; x++) {
        if (elem.childNodes[x].data) {
          outText += elem.childNodes[x].data;
        } else {
          outText += "\n";
        }
      }
      //alert(elem.childNodes.length + " Nodes: \r\n\r\n" + outText);
      return (outText);
    }
  </script>
</head>

<body>




  <div class="menucontainer">

 
    <a class="index" id="elem4" href="{{ url_for('database') }}">←</a>
   
  </div>

  <div class="menuaction">

    <div id="wrapper">
      <div id="form">
        <form action="{{ url_for('delete') }}" method="POST">
          <input type="hidden" name="name" value="{{ name }}" />
          <button>delete</button>
        </form>
      </div>
    </div>
  </div>


  <div class="data-container">
    <div class="fulltext cluster-{{ cluster }}">
      {% for line in lines %}
      <p>{{ line | default(' ') }}</p>
      {% endfor %}
    </div>
  </div>

<script>
   $('#elem1').css('color', 'white');
    $('#elem1').css('background-color', 'black');
   
</script>


</body>

</html>