<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are from Earth</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="static/index.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="static/reset.css" />
  <link rel="stylesheet" href="static/index.css" />

  <script type="text/javascript">
    function htmlToText(elem) {
      var outText = "";
      for (var x = 0; x < elem.childNodes.length; x++) {
        if (elem.childNodes[x].data) {
          outText += elem.childNodes[x].data;
        } else {
          outText += "\n";
        }
      }
      return (outText);
    }
  </script>
</head>

<body class="grey">
  <button id="parse" style="display: none;"> Analyse your text </button>

  <header>
    <a class="index" id="elem1" href="{{ url_for('index') }}">Learning from Google</a><a class="index" id="elem2"
      href="{{ url_for('database') }}">Learning from your text</a><a class="index" id="elem3" href="./about">Info</a>
  </header>

  <section class="intro">
    <h2>Ai are from Earth too.</h2>
    <p>
      Everyone in this section can add text to the website.
      These contents can be used as an alternative dataset to the one created by Google, leaving the
      ownership to users: anyone can decide what to teach and to remove to this machine.
    </p>
    <br>
    <p>
      Download the current <a href="{{ url_for('static', filename='model.pkl') }}" download>model</a>.
    </p>
  </section>
  <section class="container" id="database-container">
    <div class="explaination-container">
      <button class="explain" id="write"> Write some text to upload</button>
      <button id="upload" class="togglelist" onmousedown="loader()"> Upload it and read </button>
    </div>
    <div class="write">
      <div id="input" contenteditable="true"></div>
    </div>
    <div class="data-container" style="color: black;">
      {% for name, info in data.items() %}
      <a href="{{ url_for('content', name = name) }}">
        <div class="json-database cluster-{{ info['cluster'] }}">
          {{ info['content'] | truncate(200) }}
        </div>
      </a>
      {% endfor %}
    </div>
    </div>
  </section>
</body>
<script>
  function loader() {
    $('.write').toggle();
    $('.analysis').toggle();
  }
  
  $("#write").click(function () {
    $('.write').toggle();
    $('.analysis').toggle();
    $('#hescore').html('');
    $('#shescore').html('');
  });

  document.querySelector("div[contenteditable]").addEventListener("paste", function (e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertText", false, text);
  });
</script>

</html>