<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are from Earth</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="static/index.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="static/index.css" />
  <link rel="stylesheet" href="static/font/font.css" />


  <script type="text/javascript">
  function htmlToText(elem) {
    var outText="";
    for(var x=0; x<elem.childNodes.length; x++){
      if(elem.childNodes[x].data){
        outText+=elem.childNodes[x].data;
      }else{
        outText+="\n";
      }
    }
    //alert(elem.childNodes.length + " Nodes: \r\n\r\n" + outText);
    return(outText);
  }
</script>
</head>

<body>


  <div class="menucontainer">
    <p> <a href="{{ url_for('index') }}" >←</a></p>
    <p  id="info"><a href="{{ url_for('info') }}">info</a></p>
  </div>

  <div class="datatext">
  <h2 style="color:black"> Here you can see how this algorithm is grouping all the text uploaded by users</h2>
</div>
<div class="data-container">
  
  {% for name, info in data.items() %}
    <div class="json-database cluster-{{ info['cluster'] }}">
      <a href="{{ url_for('content', name = name) }}">
        {{ info['content'] | truncate(255) }}
      </a>
      <!-- <h2 id="write" style="color:black"> Something in here</h2> -->
    </div>

  {% endfor %}
</div>




</body>
</html>
