<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Are from Earth</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="static/index.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/font/font.css" />
</head>

<body>


    <div class="menucontainer">
        <a class="index" id="elem1" href="{{ url_for('index') }}">A</a>
        <a class="index" id="elem2" href="{{ url_for('start') }}"> B </a>
        <p class="index" id="elem3"> C </p>
        <a class="index" id="elem4" href="{{ url_for('database') }}">D</a>
        <a class="index" id="elem5" href="{{ url_for('info') }}"> E </a>
        <a class="index" id="elem7" href="{{ url_for('info') }}">♁ </a>
    </div>

    <div class="introtext">
        <h2>Learning from Google </h2>

        <p>The disproportionate often irresponsive use of Machine learning Algorithms risks to emphasise stereotypes already
            present in data. Whenever data reflects biases of the broader society, the learning algorithm captures and learns
            from these stereotypes.
        </p>
        <p>On this website we visualise the connection that Word2Vec, an algorithm used by Google, does and we propose a new
            alternative by asking the user to upload their text to generate a newer Artificial Intelligence, in a more democratic
            way.</p>
        <button id="begin"><a href="{{ url_for('start') }}">Begin</a></button>


    </div>


</body>

</html>