<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are from Earth</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="static/index.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="static/index.css" />
  <link rel="stylesheet" href="static/font/font.css" />

  <script type="text/javascript">
  function htmlToText(elem) {
    var outText="";
    for(var x=0; x<elem.childNodes.length; x++){
      if(elem.childNodes[x].data){
        outText+=elem.childNodes[x].data;
      }else{
        outText+="\n";
      }
    }
    //alert(elem.childNodes.length + " Nodes: \r\n\r\n" + outText);
    return(outText);
  }
</script>
</head>

<body>


  <div class="menucontainer">
    <p id="parse">check</p>
    <p id="upload">upload</p>

    <p  id="info"><a href="{{ url_for('info') }}">info</p>
    <p  id="menu-data" > <a href="{{ url_for('database') }}"> database</a></p>

  </div>
</div>
<div class="none">
  <p id="output" style="display="none""> </p>
</div>
<div class="container">
  <div class="col1">

    <h2 id="write" style="color:black"> Write:</h2>
    <div class="texteditor" >
      <div id="input" contenteditable="true" placeholder="Enter text here...">
        <p>She didn't give you a lot of horse manure about what a great guy her father was.
          She probably knew what a phony slob he was.</p>
        </div>
      </div>
    </div>

    <div class="col2">
      <div class="half1">
        <h2 style="color:black"> Female</h2>
      </div>
      <div class="half1">
        <h2 style="color:black"> Male</h2>
      </div>
      <div class="texteditor">
        <div class="half">
          <p id="shescore" class="she123" >
          </p>
        </div>

        <div class="half">
          <p id="hescore" class="he123" >
          </p>
        </div>

      </div>
    </div>

    <div class="col3">
      <h2 style="color:black"> 1° Associations</h2>
      <div class="texteditor">
        <div>
          <p id="associations">
          </p>
        </div>
      </div>
    </div>

    <div class="col4">
      <h2 style="color:black"> 2° Associations</h2>
      <div class="texteditor">
        <div>
          <p id="second_associations">
          </p>
        </div>
      </div>
    </div>

    <div class="col5">
      <h2 style="color:black"> 3° Associations</h2>
      <div class="texteditor">
        <div>
          <p id="third_associations">
          </p>
        </div>
      </div>
    </div>

  </div>

  <script>

  $(document).ready(function(){
    $("#parse").click(function(){
      if( $('.col2').css('display') == 'none')  {
        $('.col2').css('display', 'block');
      }
    });

    $("#shescore").click(function(){
      if( $('.col3').css('display') == 'none')  {
        $('.col3').css('display', 'block');
      }
    });
    $("#hescore").click(function(){
      if( $('.col3').css('display') == 'none')  {
        $('.col3').css('display', 'block');
      }
    });
    $("#associations").click(function(){
      if( $('.col4').css('display') == 'none')  {
        $('.col4').css('display', 'block');
      }
    });
    $("#second_associations").click(function(){
      if( $('.col5').css('display') == 'none')  {
        $('.col5').css('display', 'block');
      }
    });


    $("#write").click(function(){
      if( $('.col2').css('display') == 'block')  {
        $('.col2').css('display', 'none');
      }
      else {
        $('.col2').css('display', 'block');

      }
      if( $('.col3').css('display') == 'block')  {
        $('.col3').css('display', 'none');
      }
      else {
        $('.col3').css('display', 'block');

      }
      if( $('.col4').css('display') == 'block')  {
        $('.col4').css('display', 'none');
      }
      else {
        $('.col4').css('display', 'block');

      }
      if( $('.col5').css('display') == 'block')  {
        $('.col5').css('display', 'none');
      }
      else {
        $('.col5').css('display', 'block');

      }
    });

  });
</script>



<script>

document.querySelector("div[contenteditable]").addEventListener("paste", function(e) {
  e.preventDefault();
  var text = e.clipboardData.getData("text/plain");
  document.execCommand("insertText", false, text);
});

</script>

</body>
</html>
