<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Are from Earth</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="static/index.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/font/font.css" />

    <script type="text/javascript">
        function htmlToText(elem) {
            var outText = "";
            for (var x = 0; x < elem.childNodes.length; x++) {
                if (elem.childNodes[x].data) {
                    outText += elem.childNodes[x].data;
                } else {
                    outText += "\n";
                }
            }
            //alert(elem.childNodes.length + " Nodes: \r\n\r\n" + outText);
            return (outText);
        }
    </script>
</head>

<bod>


    <div class="menucontainer">
        <a class="index" id="elem1" href="{{ url_for('index') }}">A</a>
        <a class="index" id="elem2" href="{{ url_for('start') }}"> B </a>
        <p class="index" id="elem3"> C </p>
        <a class="index" id="elem4" href="{{ url_for('database') }}">D</a>
        <a class="index" id="elem5" href="{{ url_for('info') }}"> E </a>
        <a class="index" id="elem7" href="{{ url_for('loop') }}">♁ </a>
    </div>
    <div class="data-container">
        <div class="credits">
            <h2>Made by Giacomo Nanni </h2>
        </div>
        <p class="logo">
            ♁
        </p>
        <div class="credits">
            <h2>Btp, designed by Émilie Rigaud </h2>
        </div>
        <div class="credits">
            <h2>Rosart, designed by Katharina Köhler</h2>
        </div>
    </div>

    <script>
        $('#elem1').css('color', 'white');
        $('#elem1').css('background-color', 'black');
        $('#elem7').css('color', 'black');
        $('#elem7').css('background-color', 'white');
    </script>
    </body>

</html>