<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Are from Earth</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="static/index.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/font/font.css" />
    <script type="text/javascript">
        function htmlToText(elem) {
            var outText = "";
            for (var x = 0; x < elem.childNodes.length; x++) {
                if (elem.childNodes[x].data) {
                    outText += elem.childNodes[x].data;
                } else {
                    outText += "\n";
                }
            }
            return (outText);
        }
    </script>
</head>

<body>
    <div class="menucontainer">
        <a class="index" id="elem1" href="{{ url_for('index') }}">A</a>
        <a class="index" id="elem2" href="{{ url_for('start') }}"> B </a>
        <p class="index" id="elem3"> C </p>
        <a class="index" id="elem4" href="{{ url_for('database') }}">D</a>
        <a class="index" id="elem5" href="{{ url_for('info') }}"> E </a>
        <a class="index" id="elem7" href="{{ url_for('loop') }}">♁ </a>
    </div>
    <div class="menuaction">
        <p id="upload"> upload</p>
    </div>
    <div class="container" id="container">
        <div class="col1" id="col1">
            <div class="before">
                <p class="explain" id="write"> Start writing something:</p>
                <div class="texteditor" style="border: 1px solid white;">
                    <div id="input" contenteditable="true" placeholder="Enter text here...">
                        <p>She didn't give you a lot of horse manure about what a great guy her father was. She probably knew
                        what a phony slob he was.</p>
                    </div>
                </div>
            </div>
            <div class="after">
                <p class="explain"> Here you can see what gender connections this algorithm does. 
                    In orange words closer to female, in purple to male.
                    <br>All of the following associations are embedded in our social networks, keyboards and translators.
                    <br>You can upload your text to generate a newer ai or check the database. </p>
                    <p class="explain"> Press on an highlighted word to see related. </p>
                    <div class="texteditor">

                        <p id="output">
                            <p id="throbber">
                                <span>.</span>
                                <span>.</span>
                                <span>.</span>
                            </p>
                        </p>
                    </div>
                </div>

            </div>

            <div class="col2">
                <p class="explain" id="write"> Analyse your text</p>

                <div class="texteditor" style="background: none; padding-top: 0;">
                    <div class="centeralign">
                        <button id="parse" onmousedown="loader()">Check</button>

                    </div>
                    <p id="shescore" class="she123" style="display: none"></p>
                    <p id="hescore" class="he123" style="display: none"></p>

                </div>

            </div>

            <div class="col3">
                <div class="texteditor">
                    <div>
                        <p id="associations">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col4">
                <div class="texteditor">
                    <div>
                        <p id="second_associations">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col5">
                <div class="texteditor">
                    <div>
                        <p id="third_associations">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col6">
                <p class="explain">Send us your text </p>

                <p id="upload"> upload</p>

                <p class="explain" style="display: inline-block"> Go check the database </p>
                <p id="menu-data">
                    <a href="{{ url_for('database') }}"> database</a>
                </p>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#elem1').css('color', 'white');
                $('#elem1').css('background-color', 'black');
                $('#elem2').css('color', 'black');
                $('#elem2').css('background-color', 'white');

                if ($('.introtext').css('display') == 'block') {
                    $('.introtext').css('display', 'none');
                }
                if ($('.container').css('display') == 'none') {
                    $('.container').css('display', 'flex');
                }


                $("#parse").click(function () {
                    if ($('.before').css('display') == 'block') {
                        $('.before').css('display', 'none');
                    }
                    if ($('.after').css('display') == 'none') {
                        $('.after').css('display', 'block');
                    }
                    if ($('.col2').css('display') == 'block') {
                        $('.col2').css('display', 'none');
                    }
                    if ($('.col3').css('display') == 'block') {
                        $('.col3').css('display', 'none');
                    }
                    if ($('.secondpart').css('display') == 'none') {
                        $('.secondpart').css('display', 'block');
                    }
                    if ($('.introtext').css('display') == 'block') {
                        $('.introtext').css('display', 'none');
                    }
                    if ($('#intro').css('display') == 'block') {
                        $('#intro').css('display', 'none');
                    }
                    if ($('#upload').css('display') == 'none') {
                        $('#upload').css('display', 'block');
                    }
                    $('#elem2').css('color', 'white');
                    $('#elem2').css('background-color', 'black');
                    $('#elem3').css('color', 'black');
                    $('#elem3').css('background-color', 'white');
                });

                $(".secondpart").click(function () {


                    if ($('.col2').css('display') == 'none') {
                        $('.col2').css('display', 'block');
                    }
                    if ($('.before').css('display') == 'none') {
                        $('.before').css('display', 'block');
                    }
                    if ($('.after').css('display') == 'block') {
                        $('.after').css('display', 'none');
                    }

                    if ($('.col3').css('display') == 'block') {
                        $('.col3').css('display', 'none');
                    }
                    if ($('.col6').css('display') == 'block') {
                        $('.col6').css('display', 'none');
                    }

                    if ($('.secondpart').css('display') == 'block') {
                        $('.secondpart').css('display', 'none');
                    }
                    if ($('#intro').css('display') == 'block') {
                        $('#intro').css('display', 'none');
                    }
                    $('#elem3').css('color', 'white');
                    $('#elem3').css('background-color', 'black');
                    $('#elem4').css('color', 'black');
                    $('#elem4').css('background-color', 'white');
                });

                $("#output").click(function () {
                    if ($('.col3').css('display') == 'none') {
                        $('.col3').css('display', 'block');
                    }
                });
                $("#associations").click(function () {
                    if ($('.col4').css('display') == 'none') {
                        $('.col4').css('display', 'flex');
                    }
                });
                $("#second_associations").click(function () {
                    if ($('.col5').css('display') == 'none') {
                        $('.col5').css('display', 'flex');
                    }
                });


            });

        </script>

        <script>
            var myVar;

            function loader() {
                myVar = setTimeout(showPage, 8000);
            }

            function showPage() {

                document.getElementById("throbber").style.display = "none";
                document.getElementById("output").style.display = "block";
            }
        </script>

        <script>

            document.querySelector("div[contenteditable]").addEventListener("paste", function (e) {
                e.preventDefault();
                var text = e.clipboardData.getData("text/plain");
                document.execCommand("insertText", false, text);
            });

        </script>

    </body>

    </html>